.componentWrapper {
    background-color: #fff;
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contentWrapper {
    max-width: 550px;
    padding: 100px 24px;
    width: 100%;
}
