.avtCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avt {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.2rem;
  }
}

.cardFormHeader:global(.MuiCardHeader-root) {
  & :global(.MuiCardHeader-content) {
    & :global(.MuiCardHeader-title) {
      padding-bottom: 0.2rem;
    }
  }
}
.cardFormActions:global(.MuiCardActions-root) {
  justify-content: flex-end;
}

.inputView {
  :global(.Mui-disabled) {
    color: rgba(17, 25, 39, 1);
    -webkit-text-fill-color: inherit !important;
  }

  label:global(.Mui-disabled) {
    color: #6c737f;
  }
}
